@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');


@layer customproperties{

/* Colors */

 :root {
    --color-grey-900: #151515;
    --color-grey-700: #444444;
    --color-white: #ffffff;
    --color-gold-500: #d5966c;


    --ff-heading: "Big Shoulders Display", sans-serif;
    --ff-body: "Outfit", sans-serif;
  }



}


@layer reset{
    /* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
}



.blackbox{
    background-color: black;
}


.container{
    max-width: 1440px;
    margin: 0 auto;
}

.hero-background-container{
    display: grid;
    grid-template-columns: clamp(0px, 31vw, 450px) 540px 1fr;
    position: relative;
    z-index: 1;
    width: 100%;
}

.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;

}

.hero{
    isolation: isolate;
}

.hero-heading{
    mix-blend-mode: difference;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 90%;
    text-transform: uppercase;
    color: white;
    font-family: "Big Shoulders Display";
}

.hero-text-container{
   display: flex;
   flex-direction: column;
   max-width: 350px;
   gap: 4rem;
}

.hero-text{
font-family: Outfit;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 30.8px */
}

.btn-link{
    display: flex;
    flex-direction: row;
    max-width: 260px;
    text-decoration: none;
}

.btn-link span{
    text-decoration: none;
    background-color: black;
    padding: 1.5rem 2rem;
    font-size: 20px;
    letter-spacing: 3.6px;
    font-family: "Big Shoulders Display";
    text-decoration: none;
    color: white;
}

.arrow-right{
    background-color: var(--color-gold-500);
    padding: 1.5rem;
}

@media (max-width: 1150px){
   .hero-content{
    justify-content: space-between;
    align-self: space-between;
   }
}

@media (max-width: 975px){
   .hero-content{
    flex-direction: column;
    color: black;
    z-index: 2;
    gap: 2.5rem;
    position: absolute;
    justify-content: space-evenly;

   }
   
   .blackbox{
    display: none;
   }

   .hero-background-container{
    grid-template-columns: 465px minmax(0,1fr);

   }

   .hero-heading{
    color: black;
    font-size: 70px;
    z-index: 3;
    margin-left: 225px;
    align-self: flex-end;

   }

   .hero-text-container{
    margin-left: 225px;
    align-self: flex-end;
   }



}

@media (max-width: 716px){
    .hero-background-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
    .hero-content{
        position: relative;
        margin: 0;
    }
    .hero-heading{
        align-self: flex-start;
        margin: 0;
    }

    .hero-text-container{
        align-self: flex-start;
        margin: 0;
    }
}

/* Gallery Section */

.gallery{
  margin-top: 180px;
  width: 100%;
  margin-bottom: 180px;
}

/* Gallery Grid */

.gallery-grid-container{
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-areas:

  "day img1 img1"
  "img2 img2 img3"
  "img2 img2 inspire";

  padding-inline:1rem;
}

.gallery-text-black{
  grid-area: day;

}

.gallery-img1{
  grid-area: img1;
}

.gallery-img2{
  grid-area: img2;
}

.gallery-img3{
  grid-area: img3;
}

.gallery-text-white{
  grid-area: inspire;
}

/* Gallery Styling */

.gallery-text-black{
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.gallery-heading{
  font-family: "Big Shoulders Display";
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 100%;
text-transform: uppercase;
}

.gallery-text{
  font-family: Outfit;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 140%;
}

.gallery-text-white{
  background-color: black;
  color: white;
  max-width: 445px;
  padding: 64px 48px;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.inspire-heading{
  font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 100%; 
text-transform: uppercase;
font-family: "Big Shoulders Display";
}

.inspire-text{
  font-family: Outfit;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 140%;
}

.gallery-img1{
  display: flex;
  justify-content: flex-end;
}

/* Gallery Media Queries */

/* tablet */
@media (max-width: 976px){
  .gallery-text-black{
    align-self: center;
  }

 .gallery-text-white{
  padding: 80px 32px;
  gap: 1.5rem;
 } 

 .gallery-heading{
  font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 90%;
 }

 .gallery-text{
  font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 140%; 
 }

.inspire-heading{
  font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 90%
}

.inspire-text{
  font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 140%;
}

}
/* Mobile */
@media (max-width: 716px){

.gallery-grid-container{

grid-template-columns: 1fr;
grid-template-areas: 

"img1"
"day"
"img2"
"img3"
"inspire"

;

gap: 2rem;


}

.gallery-text-black, .gallery-text-white{

}

}

/* Footer */

footer{
  width: 100%;
  background-color: var(--color-grey-900);
  max-width: 1440px;
  margin: 0 auto;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 165px;
}

.logo{
  color: white;
  width: 100%;
  max-width: 160px;
}

.footer-text{
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 140%;
max-width: 430px;
}

.social-links-list{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style-type: none;
}


/* Footer Media Queries */

@media (max-width: 976px){
  .logo{
    max-width: 110px;
  }

  .footer-text{
    max-width: 276px;
  }

  .footer-content{
    justify-content: space-evenly;
    padding: 48px 40px;
  }

}

@media (max-width: 716px){
  .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
  }
}

/* Location Styles */

.map-container{
  position: relative;
  z-index: 1;
}

.map-container .btn-link{
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 100px;
}

.location-heading{
  font-family: "Big Shoulders Display";
font-size: 70px;
font-style: normal;
font-weight: 900;
line-height: 100%; 
text-transform: uppercase;
}

.btn-link{
    display: flex;
    flex-direction: row;
    max-width: 260px;
    text-decoration: none;
}

.btn-link span{
    text-decoration: none;
    background-color: black;
    padding: 24px 32px;
    font-size: 20px;
    letter-spacing: 3.6px;
    font-family: "Big Shoulders Display";
    text-decoration: none;
    color: white;
    text-wrap: nowrap;
}


.arrow-left{
    background-color: var(--color-gold-500);
    padding: 24px;
}


.location{
  background-color: var(--color-grey-900);
  padding: 130px 165px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.location-address-container{
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.address{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
font-weight: 300;
line-height: 140%; 
}

.address-accent{
  font-family: "Big Shoulders Display";
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 100%;
text-transform: uppercase;
color: var(--color-gold-500);
}

.location-footer{
  background-color: var(--color-gold-500);
  
}

.location-footer .footer-text{
  color: var(--color-grey-900);
}

.location-footer .social-link{
  fill: var(--color-grey-900)
}

.location-footer a:hover .social-link{
  fill: var(--color-white);
}


.btn-link:hover span{
 background-color: var(--color-gold-500);
}
.btn-link:hover img{
  background-color: var(--color-grey-900);
}

a:focus{
  outline: 1px solid var(--color-gold-500);
}
/* 
Location Media Queries

*/

.map-image{
  width: 100%;
  max-width: 1440px;
  object-fit: cover;
}



@media (max-width:1280px){

.location{
  padding: 80px 40px;
  justify-content: space-around;
}

.location h1{
  font-size: 55px;
  max-width: 223px;
  color: white;
}

.address{
  font-size: 18px;
}
.location-address-container{
  max-width: 398px;
}

.address-accent{
  font-size: 36px;
}

}

@media (max-width: 768px){
  .location{
    flex-direction: column;
    gap: 2.5rem;
  }

  .map-container .btn-link{
    left: 10px;
  }
}